{% extends "base.html" %}

{% block content %}

<h2>Today's Workout Checklist ✅</h2>

<form method="GET">

<label><b>Select Date:</b></label><br>

<input type="date" name="selected_date"
       value="{{ today_input }}"
       style="padding:8px; width:100%;">

<br><br>

<button class="btn">Load Date</button>

</form>

<hr>

<h4>DAY 1 PROGRAM</h4>

<div class="d-grid gap-2 mb-3">

    <a href="/mark-done/Chest%20%2B%20Shoulders%20(Day%201)?date={{ today_input }}"
       class="btn btn-primary">
        💪 Chest + Shoulders (Day 1)
    </a>

    <a href="/mark-done/Back%20(Day%201)?date={{ today_input }}"
       class="btn btn-primary">
        💪 Back (Day 1)
    </a>

    <a href="/mark-done/Arms%20(Day%201)?date={{ today_input }}"
       class="btn btn-primary">
        💪 Arms (Day 1)
    </a>

    <a href="/mark-done/Legs%20(Day%201)?date={{ today_input }}"
       class="btn btn-primary">
        💪 Legs (Day 1)
    </a>

</div>

<h4>DAY 2 PROGRAM</h4>

<div class="d-grid gap-2 mb-3">

    <a href="/mark-done/Chest%20%2B%20Shoulders%20(Day%202)?date={{ today_input }}"
       class="btn btn-success">
        💪 Chest + Shoulders (Day 2)
    </a>

    <a href="/mark-done/Back%20(Day%202)?date={{ today_input }}"
       class="btn btn-success">
        💪 Back (Day 2)
    </a>

    <a href="/mark-done/Arms%20(Day%202)?date={{ today_input }}"
       class="btn btn-success">
        💪 Arms (Day 2)
    </a>

    <a href="/mark-done/Legs%20(Day%202)?date={{ today_input }}"
       class="btn btn-success">
        💪 Legs (Day 2)
    </a>

</div>

<h4>RECOVERY</h4>

<div class="d-grid">

    <a href="/mark-done/REST?date={{ today_input }}"
       class="btn btn-secondary">
        🛌 Rest Day
    </a>

</div>

{% endblock %}
