{% extends "base.html" %}

{% block content %}

<!-- HERO -->

<div class="hero-glass">

    <div class="hero-text">

        <h2>Push Beyond Limits 💥</h2>

        <p>Built for discipline. Designed for champions.</p>

        <span class="hero-badge">
            🔥 Current Streak: {{ streak }} Days
        </span>

        <br><br>

        <a href="/diet-tracker" class="btn">
            🥗 Diet Discipline Tracker
        </a>

    </div>

</div>

<!-- QUICK ACTIONS -->

<div class="program-grid mt-3">

    <a href="/daily-checklist" class="program-card chest-card">
        ✅ Daily Checklist
    </a>

    <a href="/checklist-history" class="program-card back-card">
        📜 Workout History
    </a>

</div>

<!-- PROGRAM -->

<h5 class="section-title mt-4">DAY 1</h5>

<div class="program-grid">

    <a href="/chest-shoulders/day1" class="program-card chest-card">
        Chest + Shoulders
    </a>

    <a href="/back/day1" class="program-card back-card">
        Back
    </a>

    <a href="/arms/day1" class="program-card arms-card">
        Arms
    </a>

    <a href="/legs/day1" class="program-card legs-card">
        Legs
    </a>

</div>


<h5 class="section-title mt-4">DAY 2</h5>

<div class="program-grid">

    <a href="/chest-shoulders/day2" class="program-card chest-card">
        Chest + Shoulders
    </a>

    <a href="/back/day2" class="program-card back-card">
        Back
    </a>

    <a href="/arms/day2" class="program-card arms-card">
        Arms
    </a>

    <a href="/legs/day2" class="program-card legs-card">
        Legs
    </a>

</div>

{% endblock %}
