{% extends "base.html" %}

{% block content %}

<h2>🥗 Diet Discipline Tracker</h2>
<div style="margin:10px 0; padding:10px; background:#f2f2f2; border-radius:10px;">
    📊 <b>Weekly Average Calories:</b> {{ weekly_avg }} kcal
</div>

<p>Consistency beats motivation. Stay locked in 🔒</p>

<hr>

<h4>Add Today's Calories</h4>

<form action="/save-diet" method="POST">

    <label>Calories Consumed Today</label><br>
    <input type="number" name="calories" required style="width:100%;padding:8px;"><br><br>

    <label>Your Maintenance Calories</label><br>
    <input type="number" name="maintenance" required style="width:100%;padding:8px;"><br><br>

    <label>
        <input type="checkbox" name="cheat"> Cheat Meal Today 🍕
    </label><br><br>

    <button class="btn">Save Day</button>

</form>

<hr>

<h3>🔥 Transformation Log</h3>

<table class="table">

<tr>
    <th>Day</th>
    <th>Date</th>
    <th>Status</th>
    <th>Calories</th>
    <th>Maintenance +/-</th>
    <th>Cheat</th>
</tr>

{% for log in logs %}

<tr {% if log.cheat_meal %} style="background-color:#ffe5e5;" {% endif %}>

<td>Day {{ log.day_number }}</td>

<td>{{ log.date | replace("-", " ") }}</td>

<td>
{% if log.calorie_diff <= 0 %}
✅ On Track
{% else %}
⚠ Over Target
{% endif %}
</td>

<td>{{ log.calories }}</td>

<td>
{% if log.calorie_diff <= 0 %}
🔥 {{ log.calorie_diff }}
{% else %}
+{{ log.calorie_diff }}
{% endif %}
</td>

<td>
{% if log.cheat_meal %}
<span style="color:red; font-weight:bold;">🍔 Cheat</span>
{% else %}
<span style="color:green;">🥗 Clean</span>
{% endif %}
</td>


</tr>

{% endfor %}

</table>

{% endblock %}
